In [4]:
import pymysql as sql

db = sql.connect(host="localhost",port=3306,user="root",password="",database="batch9am")
cursor = db.cursor()   #for executing the commands
cmd = "select * from students"
cursor.execute(cmd)
#cursor.fetchall()  #that will fetch all the rows from your database
cursor.fetchone()   #it will fetch the single tuple

(101, 'gaurav', 'python', 21)

In [9]:
%%writefile query.py

import pymysql as sql

db = sql.connect(host="localhost",port=3306,user="root",password="",database="batch9am")
cursor = db.cursor()   

table_name = input("\n Enter table name : ")
rows = int(input("\n Enter total number of rows : "))
cmd = f"select * from {table_name}"
cursor.execute(cmd)
data = cursor.fetchall()
for i in range(rows):
        print(data[i])
        print("*"*80)

Overwriting query.py

In [10]:
%%writefile insert.py

import pymysql as sql

db = sql.connect(host="localhost",port=3306,user="root",password="",database="batch9am")
cursor = db.cursor()  

while True:
    name = input("\n Enter name : ")
    course = input("\n Enter course : ")
    age = int(input("\n Enter age : "))
    
    cmd = f'insert into students(name,course,age) values("{name}","{course}",{age})'
    cursor.execute(cmd)
    db.commit()  #permanently save the changes
    print("\n Data inserted successfully")
    ch = input("\n Do you want to continue or not(yes/no) : ").strip().lower()
    if ch == "no":
        print("\n Okay bye bye")
        break

Writing insert.py

In [1]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E08D-DAD9

 Directory of C:\batches\online_batch\advance_batch\database

29-05-2020  08:39    <DIR>          .
29-05-2020  08:39    <DIR>          ..
28-05-2020  09:47    <DIR>          .ipynb_checkpoints
29-05-2020  08:39             3,335 Connection.ipynb
28-05-2020  10:10               641 insert.py
28-05-2020  10:04               399 query.py
               3 File(s)          4,375 bytes
               3 Dir(s)  66,534,981,632 bytes free

In [2]:
#### sqlite --> file 
### to connect with the sqlite database --> sqlite3
import sqlite3 as sql

db = sql.connect("employee.db")   #it will create db in PWD
#G://folder//database//database_name

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E08D-DAD9

 Directory of C:\batches\online_batch\advance_batch\database

29-05-2020  08:39    <DIR>          .
29-05-2020  08:39    <DIR>          ..
28-05-2020  09:47    <DIR>          .ipynb_checkpoints
29-05-2020  08:39             3,335 Connection.ipynb
29-05-2020  08:39                 0 employee.db
28-05-2020  10:10               641 insert.py
28-05-2020  10:04               399 query.py
               4 File(s)          4,375 bytes
               3 Dir(s)  66,533,834,752 bytes free

In [4]:
import sqlite3 as sql

db = sql.connect("employee.db")
cursor = db.cursor()

cmd = "create table employee(eid int(5),name varchar(100),address varchar(100))"
cursor.execute(cmd)
print("\n Table is created....")

 Table is created....

In [5]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E08D-DAD9

 Directory of C:\batches\online_batch\advance_batch\database

29-05-2020  08:42    <DIR>          .
29-05-2020  08:42    <DIR>          ..
28-05-2020  09:47    <DIR>          .ipynb_checkpoints
29-05-2020  08:41             5,396 Connection.ipynb
29-05-2020  08:42             8,192 employee.db
28-05-2020  10:10               641 insert.py
28-05-2020  10:04               399 query.py
               4 File(s)         14,628 bytes
               3 Dir(s)  66,495,258,624 bytes free

In [6]:
### insert into database

import sqlite3 as sql

db = sql.connect("employee.db")
cursor = db.cursor()

while True:
    eid = int(input("\n Employee id : "))
    name = input("\n Enter name : ")
    address = input("\n Enter address : ")
    cursor.execute(f"insert into employee values({eid},'{name}','{address}')")
    db.commit()
    print("\n Data inserted successsfully...")
    ch = input("\n Continue yes/no : ").strip().lower()
    if ch == "no":
        print("\n Thanks for coming.....")
        break

 Employee id : 1

 Enter name : simran

 Enter address : raja park

 Data inserted successsfully...

 Continue yes/no : yes

 Employee id : 2

 Enter name : sachin

 Enter address : vaishali nagar

 Data inserted successsfully...

 Continue yes/no : no

 Thanks for coming.....

In [9]:
import sqlite3 as sql

db = sql.connect("employee.db")
cursor = db.cursor()

cmd = "select * from employee"
cursor.execute(cmd)
data = cursor.fetchall()
for i in data:
    print("\n ID : ",i[0])
    print("\n Name : ",i[1])
    print("\n Address : ",i[2])
    print("#"*70)

 ID :  1

 Name :  simran

 Address :  raja park
######################################################################

 ID :  2

 Name :  sachin

 Address :  vaishali nagar
######################################################################

In [10]:
### your task is to fetch the data and print it into a table format

                            Framework
                                We can build any web application using the framework
                                We can use the inbuilt libraries and modules using framework
                                
                            Python -->Flask,Django,Dash
                            
                            Difference between flask and django????
                            Real time applications of flask and django????

##### Flask

                    1. templates --> html
                    2. static --> images,css,bs,js,......
                    3. app.py (backend)
                    
                    (frontend --> html,css,bs,images.....)
                    
                    
                    Jinja --> Templating Engine of Python
                        Dynamic --> html pages
                        
                    WSGI --> Web Server Gateway Interface
                            Werkzeug